---
layout: default
title: "Blog"
permalink: /blog/
---

<div class="content">
  <div class="columns">
  {% for post in site.posts %}
  {% if post.layout == "project" %}
    <div></div>
  {% elsif post.layout=="post" %}
  <div class="column">
    <div class="box radius-is-small">
      <article class="media">
        <div class="media-content">
        <h3 class="is-size-4">
          <a href="{{ post.url }}" style="color: black;">{{ post.title }}</a>
        </h3>
        <p class="subtitle is-6">by @{{post.author}}</p>
        {% for tag in post.tags %}
          <span class="tag is-light">{{tag}}</span>
        {% endfor %}
        <br>
          
        <br>
        <footer class="card-footer">
          <p class="card-footer-item">
            
              <a href="{{post.url}}"><ion-icon name="share-social-outline" style="font-size: 25px;"></ion-icon></a>
            
          </p>
          <p class="card-footer-item">
            
              <a href="{{post.url}}"><ion-icon name="arrow-forward-circle-outline" style="font-size: 27px;"></ion-icon></a>
          </p>
        </footer>
      </div>
      </article>
    </div>
    {% endif %}
  {% endfor %}
    </div>
    </div>
  </div>
</div>
