<nav class="navbar is-light" role="navigation" aria-label="navigation">
  <div class="navbar-brand">
    <a href="/" class="navbar-item">haudraufhaun</a>

    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbar-normal"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navbar-normal">
    <div class="navbar-start">
      <a href="/" class="navbar-item">Home</a>
      <a href="/blog" class="navbar-item">Blog</a>
      <a href="/portfolio/" class="navbar-item">Portfolio</a>
      <a href="/wlke" class="navbar-item">wlke</a>
    </div>
    <div class="navbar-end">
      <a href="/impressum/" class="navbar-item">Impressum</a>
    </div>
  </div>
</nav>
